@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  background-color: #3898A8;
}

p {
  color: black;
  font-size: 2rem;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
.contenedor h2 {
  color: black;
}

a {
  text-decoration: none;
}

img, picture {
  width: 300px;
  display: block;
}

h1, h2, h3 {
  font-family: "Hind Siliguri", sans-serif;
  margin: 2.5rem 0;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
}

h4 {
  font-size: 2.6rem;
}

/**Media Quieries**/
@keyframes glowing-btn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.seccion {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.contenido-centrado {
  max-width: 80rem;
}

.ver {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

.caja {
  width: 80rem;
  display: block;
  margin: 2rem auto;
}
.caja h1, .caja h2 {
  color: #ffae00;
  font-weight: 700;
}
.caja .img {
  width: 50rem;
  border-radius: 1rem;
  border: 0.8rem double #ffae00;
  display: flex;
  margin: 0 auto;
}

.informacion-meta span {
  color: #ffae00;
}

.btn-producto {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.7725490196);
  cursor: pointer;
  position: relative;
  z-index: 0;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border-radius: 1rem;
  touch-action: manipulation;
  margin-top: 2.5rem;
  display: block;
  user-select: none;
  -webkit-user-select: none;
}
.btn-producto:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-btn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.btn-producto:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7725490196);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btn-important {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.7725490196);
  cursor: pointer;
  position: relative;
  z-index: 0;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border-radius: 1rem;
  touch-action: manipulation;
  margin-top: 2.5rem;
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
}
.btn-important:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-btn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.btn-important:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7725490196);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btn-hover {
  font-size: 2rem;
}
.btn-hover:hover {
  color: #ffae00;
  border: 5px solid black;
  border-style: double;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

/* Importacion de la User Interface UI*/
.footer {
  background-color: black;
  padding: 2.5rem 0;
  margin-bottom: 0;
  margin-top: 3rem;
}
.footer .contenerdor-footer {
  padding-top: 2.5rem;
}
.footer .copyright {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin: 2.5rem 0 0 0;
}

.inicio {
  background-image: url("./../../img/banner.jpg");
}

.header {
  padding: 0.2rem 0rem;
  height: auto;
}
.header.inicio {
  background-position: center;
  background-size: cover;
  /*Toma todo el tamaño disponible*/
}
@media (min-width: 768px) {
  .header.inicio {
    min-width: 30rem;
  }
}
@media (min-width: 768px) {
  .header.inicio .contenedor-header {
    min-height: 30rem;
  }
}

.contenido-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenido-header h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  align-self: flex-end;
}

.barra {
  color: black;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .barra {
    flex-direction: row;
    display: flex;
  }
  .barra img {
    width: 250px;
    height: 250px;
    margin: auto;
  }
}
.barra img {
  width: 200px;
  height: 200px;
  margin: auto;
}

.navegacion {
  overflow: hidden;
}
@media (min-width: 768px) {
  .navegacion {
    display: flex;
    align-items: flex-start;
  }
}
.navegacion a {
  color: white;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.7725490196);
  border-radius: 1.2rem;
  padding: 15px;
  display: block;
  font-size: 2.3rem;
  text-align: center;
}
.navegacion a:hover {
  background-color: #ffae00;
  font-weight: 900;
  color: #0d3840;
  text-shadow: 0 0.1rem white;
  border-radius: 1.8rem 2rem 1.8rem 2rem;
}

.header h1 {
  color: white;
  text-shadow: 0 0.1rem #ffae00;
  background-color: rgba(0, 0, 0, 0.7725490196);
  border-radius: 3rem;
  padding: 2rem;
}
.header h1:hover {
  background-color: #ffae00;
  color: #0d3840;
  text-shadow: 0 0.2rem white;
}

@media (min-width: 768px) {
  .contenedor-anuncio {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
.anuncio {
  background-color: #114b55;
  border: 0.35rem solid black;
  padding: 0.8rem;
  border-radius: 0.5rem;
}
.anuncio .contenido-anuncio {
  padding: 1rem;
}
.anuncio img {
  width: 100%;
  border-radius: 1rem;
}
.anuncio h3, .anuncio p {
  text-align: center;
  margin: 0;
}
.anuncio p {
  color: white;
}
.anuncio h3 {
  color: #ffae00;
  font-weight: 700;
}
.anuncio .precio {
  color: #ffae00;
  font-weight: bold;
  font-size: 3rem;
}

.icono {
  text-align: center;
}
.icono img {
  height: 25rem;
  width: 25rem;
  margin: auto;
}
.icono h3 {
  text-transform: uppercase;
  font-weight: 700;
}

@media (min-width: 768px) {
  .iconos-nosotros {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
.icono:hover {
  background-color: rgba(0, 0, 0, 0.7725490196);
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 4rem;
}
.icono:hover h3 {
  color: #ffae00;
}
.icono:hover p {
  color: white;
}

.imagen-contacto {
  background-image: url("./../../icon/contacto.png");
  background-position: center center;
  background-size: cover;
  padding: 15rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagen-contacto h2 {
  font-size: 4rem;
  font-weight: 900;
  color: #ffae00;
}
.imagen-contacto p {
  font-size: 2rem;
  color: white;
  font-weight: 700;
}

.imagen-contacto-form {
  padding: 0.8rem;
}
.imagen-contacto-form img {
  border: 0.35rem double #cc8b00;
  width: 100%;
  height: 45rem;
  border-radius: 5rem;
}

@media (min-width: 768px) {
  .seccion-inferior {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
  }
}
.entrada-blog {
  margin-bottom: 3rem;
}
.entrada-blog .imagen img {
  border-radius: 2rem;
}
@media (min-width: 768px) {
  .entrada-blog {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}
.entrada-blog::last-of-type {
  margin-bottom: 0;
}

.texto-entrada a {
  color: black;
  margin-top: 2rem;
  display: block;
}
@media (min-width: 768px) {
  .texto-entrada a {
    margin-top: 0;
  }
}
.texto-entrada h4 {
  margin: 0;
  line-height: 1.4;
}
.texto-entrada h4::after {
  content: "";
  display: block;
  width: 15rem;
  height: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7725490196);
  margin-top: 1rem;
}
.texto-entrada span {
  color: white;
}

.testimonial {
  background-color: rgba(0, 0, 0, 0.7725490196);
  font-size: 2.4rem;
  padding: 2rem;
  color: white;
  border-radius: 2rem;
}
.testimonial blockquote {
  padding-left: 5rem;
  position: relative;
}
.testimonial blockquote::before {
  content: "";
  background-image: url("./../../img/blog/quotes.svg");
  background-size: 20rem 20rem;
  background-repeat: no-repeat;
  width: 20rem;
  height: 20rem;
  display: block;
}
.testimonial p {
  color: white;
}

.formulario p {
  font-size: 2rem;
  color: white;
  margin: 1.5rem 0 0 0;
}
.formulario legend {
  font-size: 2rem;
  color: white;
}
.formulario label {
  font-family: 700;
  text-transform: uppercase;
  display: block;
}
.formulario input::placeholder {
  color: black;
}
.formulario input:not([type=submit]), .formulario textarea, .formulario select {
  padding: 1rem;
  display: block;
  width: 100%;
  background-color: #3898A8;
  border: 1px solid #0d3840;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.formulario textarea {
  height: 10rem;
}
.formulario .forma-contacto {
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formulario input[type=radio] {
  margin: 0;
  width: auto;
}

/* Paginas internas*/
@media (min-width: 768px) {
  .contenido-nosotros {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.texto-nosotros blockquote {
  font-weight: 900;
  font-size: 2.2rem;
  margin: 0;
  padding: 1rem 0 3rem 0;
}
.texto-nosotros blockquote::after {
  content: "";
  display: block;
  width: 20rem;
  height: 0.5rem;
  background-color: #ffae00;
  margin-top: 1rem;
}

/*# sourceMappingURL=app.css.map */
