.contacto{
    background-image: url("/ico/contacto.jpg");
    background-position: center center;
    background-size: cover;
    padding: $separacion *3 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-size: 4rem;
    font-weight: $black;
    color:$blanco;

}
p{
    font-size: 2rem;
    color:$blanco;
   
}
.naranja{
    border: 5px solid darken($grisOscuro,10);
    font-size: 2.3rem;
}

.naranja:hover{
 color:$naranja;
 background-color: $verde;
 border: 5px solid darken($grisOscuro,10);
 border-style: double;
}