.imagen-contacto{
    background-image: url("/icon/contacto.png");
    background-position: center center;
    background-size: cover;
    padding: $separacion *3 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-size: 4rem;
        font-weight: $black;
        color:$dorado;
    }
    p{
        font-size: 2rem;
        color:$blanco;
        font-weight: $bold;
    }
}

.imagen-contacto-form{
    background-color: lighten($azulOscuro, $amount: 5);
    border: .35rem solid darken($negro, $amount: 10);
    padding: .8rem;
    img{
        width: 100%;
        border-radius: 1rem;
    }
}
