.footer {
    background-color: $negro;
    padding: $separacion/2 0;
    .copyright{
        color: $blanco;
        font-size: $separacion/2;
        text-align: center;
        margin: $separacion/ 2 0 0 0;
    }
    
}