.inicio{
    background-image: url('/img/banner.jpg');
}

.header {
    padding: 1rem 0rem 1rem 0rem;
    background-color: $grisOscuro;
    &.inicio{
        background-position: center;
        background-size: cover; /*Toma todo el tamaño disponible*/
        @include tablet{
            min-width: 30rem;
        }
        .contenedor-header{
            @include tablet{
                min-height: 30rem;
            }
        }
    }
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    h1{
        font-size:50px;
        font-weight: $bold;
        text-align: center;
    }
}

.barra {
    color: $negro;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: space-between;
    @include tablet {
        flex-direction: row;
        display: flex;
        img {
                width: 200px;
                height: 200px;
                margin: auto;
            }
    }
    img {
        width: 280px;
        height: 280px;
        margin: auto;
    }
}  

