.icono{
    text-align: center;
    img{
        height: 25rem;
        width: 25rem;
        margin: auto;
    }
    h3{
        text-transform: uppercase;
        font-weight: $bold;
    }
}


@include tablet{
    .iconos-nosotros{
        @include grid(3, 2rem);
    }
}

.icono:hover{
    background-color: $transparente;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 4rem;
    h3 {
        color: $dorado;
    }
    p {
        color: $blanco;
    }
}