.navegacion {
    overflow: hidden;
    @include tablet {
        display: flex;
        align-items: center;
    }
}

.navegacion a {
    color: $blanco;
    padding: 20px;
    display: block;
    font-size: 2.2rem;
    text-align: center;
}

.navegacion a:hover {
    background-color:  rgb(240, 112, 6);
    border-radius: 0rem 8rem 0rem 8rem;
}

.header h1{
    color: $blanco;
    text-shadow: 0px 2px $claro;
}

