.navegacion {
    overflow: hidden;
    @include tablet {
        display: flex;
        align-items: flex-start;
    }    

    a {
        color: $blanco;
        font-family: $fuente_principal;
        font-weight: $delgada;
        background-color: $transparente;
        border-radius: 1.2rem;
        padding: 15px;
        display: block;
        font-size: 2.3rem;
        text-align: center;
    }
    a:hover {
        background-color: $dorado;
        font-weight: $black;
        color: $oscuro;
        text-shadow: 0 .1rem $blanco;
        border-radius: 1.8rem 2rem 1.8rem 2rem;
    }
}
.header h1{
    color: $blanco;
    text-shadow: 0 0.1rem $naranja;
    background-color: $transparente;
    border-radius: 3rem;
    padding: 2rem;
    &:hover {
        background-color: $dorado;
        color: $oscuro;
        text-shadow: 0 .2rem $blanco;
    }
}

