.navegacion {
    overflow: hidden;
    @include tablet {
        display: flex;
        align-items: flex-start;
    }

    a {
        color: $blanco;
        background-color: $tranparente;
        border-radius: 2rem;
        padding: 20px;
        display: block;
        font-size: 2.2rem;
        text-align: center;
    }
    a:hover {
        background-color: $naranja;
        border-radius: 2rem 5rem 2rem 5rem;
    }
}
.header h1{
    color: $blanco;
    text-shadow: 0px 2px $oscuro;
}

