.testimonial{
    background-color: $naranja;
    font-size: 2.4rem;
    padding: 2rem;
    color:$blanco;
    blockquote{
        padding-left: 5rem;

        &::before{
            content: '';
            background-image: url('/img/blog/consumo.jpg');
            background-repeat: no-repeat;
            width: 20rem;
            height: 24rem;
            display: block;
            position: absolute;
            left: -13rem;
            top: -8rem;
        }
    }
}
