.btn-producto {
    @include boton($transparente, $blanco, block);
}
.btn-important{
    @include boton ($transparente,$blanco,inline-block);
}
.btn-hover {
    font-size: 2rem;
    &:hover {
        color: $dorado;
        border: 5px solid darken($negro, 10);
        border-style: double;
    }
}





