/**Media Quieries**/
@mixin telefono {
    @media (min-width:#{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width:#{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:#{$desktop}) {
        @content;
    }
}
@mixin boton($bgcolor, $color, $display){
    background-color: $bgcolor;
    text-shadow: 0 1px $negro;
    color: $color;
    font-weight: $bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: $separacion/2;
    display: $display;
}
@mixin grid($columnas, $espaciado) {
    display: grid;
    gap:$espaciado;
    grid-template-columns: repeat($columnas,1fr);    
}