/**Media Quieries**/
@mixin telefono {
    @media (min-width:#{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width:#{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:#{$desktop}) {
        @content;
    }
}
@mixin boton($bgcolor, $color, $display){
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: $color;
    background-color: $bgcolor;
    cursor: pointer;
    position: relative;
    z-index: 0;
    font-weight: $bold;
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    touch-action: manipulation;
    margin-top: $separacion/2;
    display: $display;
    user-select: none;
    -webkit-user-select: none;

    &:before {
            content: "";
            background: linear-gradient(45deg,
                    #ff0000,
                    #ff7300,
                    #fffb00,
                    #48ff00,
                    #00ffd5,
                    #002bff,
                    #7a00ff,
                    #ff00c8,
                    #ff0000);
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            -webkit-filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing-btn 20s linear infinite;
            transition: opacity 0.3s ease-in-out;
            border-radius: 10px;
        }
    &:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: $bgcolor;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
}
@keyframes glowing-btn {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
@mixin grid($columnas, $espaciado) {
    display: grid;
    gap:$espaciado;
    grid-template-columns: repeat($columnas,1fr);    
}