.seccion {
    margin-top: calc($separacion/2);
    margin-bottom: calc($separacion/2);
}

.contenido-centrado {
    max-width: 80rem;

}
.ver{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
}
.precio{
    color: $dorado;
    font-weight: 3rem;
    font-size: 3rem;
}
.centrado{
    
    
   img{ 
    width: 50rem;
        border-radius: 1rem;
        display: flex;
        margin: 0px auto;
        
    }
    h1, p{
        text-align: center;
        margin: 0;
    }
    h1{
        color: $dorado;
        font-weight: $bold;
    }
    .precio{
        color: $dorado;
        font-weight: bold;
        font-size: 2.2rem;
    }


}
.contenedor1 {
    background-color: lighten($azulOscuro, $amount: 5);
    border: .35rem solid darken($negro, $amount: 10);
    padding: .8rem;
    border-radius: .5rem;
    width: 80rem;
    display: block;
    margin: 20px auto;
}