.seccion {
    margin-top: calc($separacion/2);
    margin-bottom: calc($separacion/2);
}

.contenido-centrado {
    max-width: 80rem;

}
.ver{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
}
.caja {
    width: 80rem;
    display: block;
    margin: 2rem auto;
    h1 {
        color: $dorado;
        font-weight: $bold;
    }
    .img {
        width: 50rem;
        border-radius: 1rem;
        display: flex;
        margin: 0 auto;
    }
}