.seccion {
    margin-top: calc($separacion/2);
    margin-bottom: calc($separacion/2);
}

.contenido-centrado {
    max-width: 800px;
}
.ver{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
}