@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

//Fuentes
$fuente_principal: 'Hind Siliguri', sans-serif;
$fuente_secundaria: 'Alegreya', cursive;

//Tamaño media queris
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//Colores
$negro: black;
$blanco: white;
$claro: #9e927d;
$naranja:#fd4400;
$dorado:#ffae00;
$azul: #3898A8;
$oscuro:#1B1A17;
$verde: #456F6F;
$grisOscuro:#3c3c3c;
$naranja: #f07006;
$transparente: #000000c5;


$separacion: 5rem;

//Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;