@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Dancing+Script&display=swap');

//Fuentes
$fuente_principal: 'Alegreya', serif;
$fuente_secundaria: 'Dancing Script', cursive;

//Tamaño media queris
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//Colores
$negro: black;
$blanco: white;
$claro: #9e927d;
$naranja:#fd4400;
$amarillo:#ffae00;
$oscuro:#1B1A17;
$verde:green;
$grisOscuro:#3c3c3c;
$naranja: rgb(240, 112, 6);


$separacion: 5rem;

//Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;